<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Home | IDBMS</title>
    
    
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
    
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="{{home_url}}"> <img src="{{ url_for('static', filename='media/logo.bmp') }}" width="35" height="35" alt="logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><button class="btn btn-outline-success my-2 my-sm-0" >Home</button><span class="sr-only">(current)</span></a>
      </li>
      <!-- Admin only: -->
      {% if acc_type == "customer" %}
        <li class="nav-item">
          <a class="nav-link" href="#"><button class="btn btn-outline-success my-2 my-sm-0">Search Items</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><button class="btn btn-outline-success my-2 my-sm-0">Request Items</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><button class="btn btn-outline-success my-2 my-sm-0">View Items</button></a>
        </li>
      {% elif acc_type == "vendor" %}
        <li class="nav-item">
          <a class="nav-link" href="#"><button class="btn btn-outline-success my-2 my-sm-0">Manage Stock</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><button class="btn btn-outline-success my-2 my-sm-0">View Sales</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><button class="btn btn-outline-success my-2 my-sm-0">Manage Promotions</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><button class="btn btn-outline-success my-2 my-sm-0">Rent A Location</button></a>
        </li>
      {% elif acc_type == "govt_official" %}
        <li class="nav-item">
          <a class="nav-link" href="#"><button class="btn btn-outline-success my-2 my-sm-0">Manage Time and Locations</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><button class="btn btn-outline-success my-2 my-sm-0">Statistics</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><button class="btn btn-outline-success my-2 my-sm-0">Price Bounds</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><button class="btn btn-outline-success my-2 my-sm-0">Impose Fines</button></a>
        </li>
      {% elif acc_type == "db_admin" %}
        <li class="nav-item">
          <a class="nav-link" href="#"><button class="btn btn-outline-success my-2 my-sm-0">Manage government official accounts</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><button class="btn btn-outline-success my-2 my-sm-0">Query the Database</button></a>
        </li>

      {% endif  %}

    </ul>
    <a href="/"><button class="btn btn-success my-2 my-sm-0" >Sign Out</button></a>
  </div>
</nav>

<main role="main" class="container">

  <div class="starter-template">
    <h1>Welcome {{name}}</h1>
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
  </div>

</main>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../static/js/bootstrap.bundle.min.js"></script>
</html>
